body {
    width: 400px;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.container {
    width: 100%;
    color: #343a40;
}

h1 {
    color: #007bff;
    margin-bottom: 20px;
}


button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
}

button:hover {
  opacity: 0.9;
}

#answer {
    margin-top: 20px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    color: #495057;
    font-size: 14px;
}