
.main-content {
  display: flex;
  gap: 20px;
}

.left-panel {
  flex: 1;
}

.right-panel {
  flex: 2;
}

.prompt-box {
  width: 80%;
  height: 20%;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
}

.options label {
  display: block;
  margin: 5px 0;
}

.feature-box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
  background-color: #f9f9f9;
  border-top-left-radius: 0;
}
.tabs {
  display: flex;
  border-bottom: 2px solid #403E3B; /* Ciemny kolor */
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #403E3B; /* Obramowanie */
  border-bottom: none;
  background-color: #595856; /* Ciemnoszary dla nieaktywnych */
  color: #FFFFFF; /* Biały tekst */
  text-align: center;
}

.tab.active {
  background-color: #F2E9D8; /* Jasny beżowy */
  font-weight: bold;
  color: #403E3B; /* Ciemny kolor tekstu dla aktywnej zakładki */
}

.tab-content {
  padding: 15px;
  background-color: #BFB3A4; /* Jasny szary/brązowy */
  border: 0px solid #403E3B; /* Obramowanie */
  color: #0D0D0D; /* Czarny tekst */
}


.options {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.options input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
  cursor: pointer;
}

.options label {
  display: flex;  
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.options label:hover {
  color: #555;
}

.text_display {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100px;
  font-size: 18px;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
}