body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F2E9D8; /* Jasny beżowy jako tło główne */
  color: #0D0D0D; /* Czarny jako kolor tekstu */
}

h1, h2 {
  color: #0D0D0D; /* Czarny */
  margin-bottom: 20px;
  text-align: center;
}

.container {
  max-width: 60%;
  margin: 40px auto;
  padding: 30px;
  background-color: #FFFFFF; /* Biały dla kontrastu */
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #403E3B; /* Ciemny kolor obramowania */
  border-bottom: none;
  background-color: #595856; /* Ciemnoszary dla zakładek nieaktywnych */
  color: #FFFFFF; /* Biały tekst */
}

.tab.active {
  background-color: #F2E9D8; /* Jasny beżowy dla aktywnej zakładki */
  font-weight: bold;
}

.tab-content {
  padding: 15px;
  background-color: #BFB3A4; /* Jasny szary/brązowy jako tło treści */
  border: 1px solid #403E3B; /* Ciemny obramowanie */
  color: #0D0D0D; /* Czarny tekst */
  border-radius: 30px;
  border-top-left-radius: 0; /* Brak zagięcia w lewym górnym rogu */
}

.tab-buttons {
  display: inline-block;
  border: 1px solid #403E3B; /* Ciemny obramowanie */
  /*border-radius: 4px;*/
  color: #FFFFFF; /* Biały tekst */
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;
  border-bottom: 0;

}
.tab-button{
  border-bottom: 0;
  border-bottom-left-radius: 0 ;
  border-bottom-right-radius: 0 ;
}

button {
  display: inline-block;
  padding: 12px 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #403E3B; /* Ciemny obramowanie */
  border-radius: 4px;
  background-color: #403E3B; /* Ciemny kolor przycisku */
  color: #FFFFFF; /* Biały tekst */
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: #595856; /* Ciemnoszary na hover */
  border-color: #595856;
}

.page-button {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}